.join {
    
    margin-top: 100px;
    
}

.join-content {
    text-align: center;
    justify-content: center;
    color: #fff;
    background-color: #292F36;
    padding: 100px 0 95px 0;
    border-radius: 70px;
}

.join-title {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 0.22px;
    margin-bottom: 10px;
}

.join-text {
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-bottom: 31px;
}

.join-btn {
    padding: 21px 67px 21px 34px;
    position: relative;
    background-color: #CDA274;
    display: inline-block;
    border-radius: 18px;
}

.join-btn a {
    font-size: 18px;
    color: #fff;
    line-height: 27px;
    letter-spacing: 0.22px;
}

.join-btn::after {
    position: absolute;
    content: "";
    background-image: url(../../img/icons8-стрелка-25.png);
    background-repeat: no-repeat;
    right: 23px;
    top: 28px;
    width: 25px;
    height: 25px;
}


@media(max-width:790px) {
    .join {
        margin-top: 70px;
    }
    .join-content {
        padding: 70px 0 65px 0;
    }
    .join-title {
        font-size: 40px;
        margin-bottom: 0px;
    }
    .join-text {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .join-btn a {
        font-size: 16px;
    }
    .join-btn {
        padding: 18px 64px 18px 31px;
    }
    .join-btn::after {
        top: 25px;
    }
}

@media(max-width:590px) {
    .join {
        margin-top: 50px;
    }
    .join-content {
        padding: 40px 0 35px 0;
        border-radius: 25px;
    }
    .join-title {
        font-size: 28px;
    }
    .join-text {
        font-size: 14px;
        margin-bottom: 16px;
    }
    .join-btn a {
        font-size: 14px;
    }
    .join-btn {
        padding: 14px 61px 14px 28px;
    }
    .join-btn::after {
        top: 22px;
    }
}